@media ( max-width:  1200px)
  .container
    max-width: 960px
  .hotel__slider
    width: 590px
  #map
    width: 350px
@media ( max-width:  992px)
  .container,.newsletter-wrapper
    max-width: 700px
  .navbar
    &__search
      margin-left: 60px
    &-top
      padding: 30px 0px
      .logo
        width: 132px
      .search
        &__input
          width: 340px
    nav
      .navbar-menu
        padding: 22px 0px
        &__link
          font-size: 12px
          line-height: 15px
          padding-left: 10px
          padding-right: 10px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
  .hotel__slider
    margin-bottom: 30px
  .price-and-map
    flex-direction: row
  .booking
    width: 340px
  #map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
@media ( max-width:  768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-top
      .menu-button
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
          margin-bottom: 4px
          padding: 0px
      &__menu-button
        display: flex
        flex-direction: column
        align-items: center
        border: none
        background-color: $white-color
        &:hover
          cursor: pointer
    nav,.search,.profile
      display: none
  .stars
    flex-basis: 48px
  .hotel
    padding-top: 5px
    padding-bottom: 50px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__name
        margin-top: 10px
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        margin-left: 0px
        order: -1
    &-slider
      height: 350px
  .price-and-map
    flex-direction: column
    #map
      width: 100%
    .booking
      width: 100%
    .booking__information
      margin-bottom: 20px
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 92%
  .reviews
    &-title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        padding: 0 30px 30px
        &::after,&::before
          display: none
      &__button
        top: 45px
        &--prev
          margin-left: -115px
          left: 50%
          transform: translateX(-50%, 0)
        &--next
          margin-right: -115px
          right: 50%
          transform: translateX(-50%, 0)
@media ( max-width:  576px)
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 210px
  .newsletter
    padding: 71px 0px 81px 0px
    &-tittle
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
        margin-bottom: 27px
  &__input
    padding: 18px 75px 19px 33px
    border-radius: 4px
    overflow: hidden
    width: 100%
    height: 100%
    border: none
    background-color: $white-color
  .reviews
    padding-bottom: 20px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
@media (max-width: 460px)
  .hotel__slider
    height: 179px
  .subscribe
    width: 100%
