.footer
  background-color: $dark-color
  color: $white-color
  padding-top: 108px
  padding-bottom: 5px
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content,1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
  &__logo
    grid-row: 1 / 3
    width: 166px
    align-self: center
    margin-top: 5px
  &__categories
    grid-row: 1 / 4
  &__additional
    margin-left: 5px
  &__legal
    margin-left: 65px
  &__social

    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
    &-network
      display: flex
      align-items: flex-start
      grid-row: 2 / 4
      grid-column: span 2
      margin-right: 38px
      margin-left: 3px
      margin-top: 3px
  &__contact-details
    grid-column-start: span 2
    margin-left: -5px
  &__contact-form
    grid-column: span 2
  &__form
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__title
    font-weight: 700
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin: 0 0 18px 0
    &--form
      margin-bottom: 33px
    &--margin
      margin-top: 12px
      margin-bottom: 26px
    &--inline
      margin: 0 43px 0 0
  &__text
    &:hover
      text-decoration: underline
  &__item
    display: flex
    align-items: flex-start
    font-weight: 400
    font-size: 14px
    line-height: 22px
    color: $footer-text-color
    &:hover
      text-decoration: underline
    &-contacts
      &:hover
        text-decoration: none
  &__link
    text-decoration: none
    color: inherit
  &__img-block
    min-width: 22px
    display: flex
    justify-content: center
    margin-right: 17px
    margin-left: 5px
  &__item-contacts
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 23px
  &__item--contacts
    align-items: flex-start
  &__numbers
    display: flex
    flex-direction: column
  &__contacts-text
    margin-bottom: 27px
  &__subtitle
    color: $footer-text-color
  &__input
    width: 100%
    &-group
      background-color: #fff
      border-radius: 4px
      border: none
      height: 50px
      margin-bottom: 20px
      flex-basis: 47%
  &__message
    background-color: #fff
    border-radius: 4px
    border: none
    padding: 18px 23px
    flex-basis: 100%
    margin-bottom: 20px
    resize: none
    height: 120px
  &__button
    min-width: 160px
    min-height: 50px
    padding: 18px
    font-weight: 700
    font-size: 12px
    color: $white-color
    background-color: $primary-color
    border: none
    border-radius: 4px
    cursor: pointer
  &__info
    font-weight: 700
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
.footer-bottom
  display: grid
  align-items: center
  grid-template-columns: repeat(5,1fr)
  &__wrapper
    grid-column: 2 / 5
    display: flex
    justify-content: center
  &__text
    font-size: 12px
    line-height: 15px
    padding: 0px 10px
  &__img
    grid-column: 5
    display: flex
    justify-content: flex-end
  &__image
    width: 136px
    height: 22px
.footer__bottom-margin
  margin-top: 97px
  padding-bottom: 32px
